<% title t('delayed/web.views.jobs') %>

<div class="page-header">
  <h1><%= title %></h1>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t('delayed/web.views.id') %></th>
      <th><%= t('delayed/web.views.status') %></th>
      <th><%= t('delayed/web.views.queue.title') %></th>
      <th><%= t('delayed/web.views.handler') %></th>
      <th><%= t('delayed/web.views.created_at') %></th>
      <th><%= t('delayed/web.views.run_at') %></th>
      <th><%= t('delayed/web.views.attempts') %></th>
      <th style="width: 190px;"><%= t('delayed/web.views.last_error') %></th>
      <th style="width: 140px"><%= t('delayed/web.views.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% if jobs.any? %>
      <% jobs.each do |job| %>
        <tr>
          <td><%= link_to "##{job.id}", job_path(job) %></td>
          <td>
            <span class="<%= status_dom_class(job.status) %>">
              <%= t(job.status, scope: 'delayed/web.views.statuses').capitalize %>
            </span>
          </td>
          <td><%= job.queue %></td>
          <td><%= truncate(job.handler, length: 400) %></td>
          <td><%= job.created_at.strftime("%d %b %Y %H:%M") %></td>
          <td><%= job.run_at.strftime("%d %b %Y %H:%M") %></td>
          <td><%= job.attempts %></td>
          <td>
            <% if job.last_error.present? %>
              <%= link_to truncate(job.last_error, length: 150), job_path(job) %>
            <% else %>
              <span class="label label-success"><%= t('delayed/web.views.errors.empty') %></span>
            <% end %>
          </td>
          <td>
            <% if job.can_queue? %>
              <%= button_to t('delayed/web.views.buttons.run_next'), queue_job_path(job), method: :put, class: 'btn btn-mini btn-action', form_class: 'btn-rails pull-left', title: t('delayed/web.views.buttons.run_next') %>
            <% end %>
            <% if job.can_destroy? %>
              <%= button_to t('delayed/web.views.buttons.delete'), job_path(job), method: :delete, class: 'btn btn-danger btn-mini btn-action', form_class: 'btn-rails pull-right', title: t('delayed/web.views.buttons.delete'), onclick: "return confirm('#{t('delayed/web.views.confirm.delete')}')" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="7">
          <%= t('delayed/web.views.queue.empty') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
