<% title t('delayed/web.views.jobs') %>

<div class="page-header">
  <h1><%= title %></h1>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t('delayed/web.views.id') %></th>
      <th><%= t('delayed/web.views.status') %></th>
      <th><%= t('delayed/web.views.created_at') %></th>
      <th><%= t('delayed/web.views.run_at') %></th>
      <th><%= t('delayed/web.views.attempts') %></th>
      <th style="width: 190px;"><%= t('delayed/web.views.last_error') %></th>
      <th style="width: 160px;"><%= t('delayed/web.views.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% if jobs.any? %>
      <% jobs.each do |job| %>
        <tr>
          <td><%= link_to "##{job.id}", job_path(job) %></td>
          <td>
            <span class="<%= status_dom_class(job.status) %>">
              <%= t(job.status, scope: 'delayed/web.views.statuses').capitalize %>
            </span>
          </td>
          <td><%= l(job.created_at, format: :short) %></td>
          <td><%= l(job.run_at, format: :short) %></td>
          <td><%= job.attempts %></td>
          <td><%= link_to_if job.last_error.present?, truncate(job.last_error), job_path(job) %></td>
          <td>
            <% if job.can_queue? %>
              <%= button_to t('delayed/web.views.buttons.run_next'), queue_job_path(job), method: :put, class: 'btn btn-mini', form_class: 'btn-rails pull-left' %>
            <% end %>
            <% if job.can_destroy? %>
              <%= button_to t('delayed/web.views.buttons.delete'), job_path(job), method: :delete, class: 'btn btn-danger btn-mini', form_class: 'btn-rails pull-right' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="7">
          <%= t('delayed/web.views.queue.empty') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
