<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag 'delayed/web/application' %>
  </head>
  <body>
    <div class="container">
      <% flash.each do |type, message| %>
        <div class="alert <%= flash_dom_class(type) %>">
          <%= flash[type] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
